*.aspx      text
*.asx       text
*.css       text
*.erb       text
*.erl       text
*.go        text
*.hs        text
*.html      text
*.js        text
*.jsp       text
*.less      text
*.md        text
*.markdown  text
*.php       text
*.pl        text
*.py        text
*.rb        text
*.rhtml     text
*.rjs       text
*.sass      text
*.scss      text
*.svg       text
*.textile   text
*.txt       text
*.xml       text
Procfile    text
*.bmp   binary
*.gif   binary
*.jpeg  binary
*.jpg   binary
*.png   binary